<html>
<head>
<% content_for :head do %>
  <meta name="description" content="Alone, together. Discuss Privacy & Security.">
  <meta property="og:title" content="<%= @page_title %>" />
  <meta property="og:description" content="Alone, together. Discuss Privacy & Security." />
  <meta property="og:image" content="uploads/default/original/1X/6998b22cc605b5e8748a0b729fe6569484d81674.png" />
<% end %>
<style>
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #242526;
  color:white;
}

.topnav {
  overflow: hidden;
  background-color: #242526;
  box-shadow: 1px 0px 11px 1px rgb(0, 0, 0);
  height:  61px;
  display: flex;
  align-items: center;
}

.logo {
    width: 160px;
    padding: 0px 0px 0px 288px;
}
@media screen and (max-width:767px) {
  .logo {
    width: 105px;
    padding: 0px 0px 0px 5px;
    }}

.topnav a {
  float: left;
  color: #f2f2f2 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #242526;
  color: #ffffff !important;
}

.topnav a.active {
  background-color: #242526;
  color: white !important;
}
</style>
</head>
<body>
<div class="topnav">
    <div class="contents">
        <div class="primary">
          <div class="header-title">
            <a href="https://forums.gonomad.me/">
                <img class="logo" src="/uploads/default/original/1X/6998b22cc605b5e8748a0b729fe6569484d81674.png" alt="GoNomad.me" id="site-logo">
            </a>
          </div>
          </div>
        </div>

  <a href="/home">Home</a>
  <a href="/">Forums</a>
<!--   <a href="/">Subscribe (soon)</a> -->
</div>
</body>
</html>
<br>
<div class="blog-title">
  <font size="12">GoNomad.me</font>
  <h3>Discuss Privacy & Security.</h3>
</div>

<div class="contents">
  <%= topic_list(opts: {
      render_list: true
    },
    list_opts: {
      category: @page.category_id,
      no_definitions: true,
      per_page: 10,
      page: params[:page]
    },
    item_opts: {
      excerpt_length: 30,
      include_avatar: true,
      profile_details: !mobile_view?,
      avatar_size: 60
    }
  )%>
</div>



<% if @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
    })
  } %>
<% end %>